/*
 * page exemple css
 */
.container {
    position: relative;
}
.container::before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    background-image: url('../img/fond_ecran.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}
/*
 * General Design
 */
html, body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: monospace;
}
button {
    font-family: monospace;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    outline: none;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 4px;
    overflow: visible;
}
.app-card {
    display: block;
    position: relative;
    max-width: 1080px;
    background-color: #f5fbfe;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    padding: 12px;
    border-radius: 4px;
}
.app-card-header {
    display: flex;
}
.app-card-header button {
    margin: 0px 5px;
}
.app-card-content ul {
    overflow-y: auto;
}
.app-card-content {
    height: auto;
    transition: height 0.25s ease-in;
    overflow: hidden;
}
.separator {
    flex-grow: 1;
}
.hidden,
.form-titre form > *.hidden {
    display: none;
}


/*
 * Component Design
 * Page
 */
.home-page {
    position: relative;
    overflow: hidden;
}
.home-page .app-card {
    margin: auto;
}
.app-content-editor {
    padding: 10px;
}
.app-home-content {
    width: 97%;
    padding: 0 15px;
}


/* Toolbar */
.toolbar {
    display: flex;
    padding: 0 15px;
    background-color: white;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    margin-bottom: 10px;
}
.load-btn, .export-btn, .new-btn, .save-btn {
    margin-top: 24px;
    margin-right: 24px;
}


/* Detail-Plu */
.detail-plu {
    margin-bottom: 10px;
}


/* List-Titre */
.list-titres ul {
    height: 90%;
    overflow-y: auto;
}

.list-titres ul li {
    display: flex;
    flex-wrap: wrap;
    padding: 1px;
}
.list-titres ul li.selected {
    /*background-color: rgba(0, 0, 0, 0.185);*/
    border: 1px black solid;
}
.list-titres ul li.hidden1, .list-titres ul li.hidden2, .list-titres ul li.hidden3 {
    display: none;
}

.list-titres ul li > * {
    margin: 2px 5px;
    user-select: none;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.list-titres ul li button {
    padding: 0px 10px
}
.list-titres ul li::before {
    font-size: 12px;
    margin-top: 14px;
    color: green;
}
.list-titres ul li[niveau="1"]::before {
    content: "Niv 1";
}
.list-titres ul li[niveau="2"]::before {
    content: "Niv 2";
    margin-left: 15px;
}
.list-titres ul li[niveau="3"]::before {
    content: "Niv 3";
    margin-left: 30px;
}
.list-titres ul li[niveau="4"]::before {
    content: "Niv 4";
    margin-left: 45px;
}
.list-titres ul li p {
    padding-top: 9px;
    margin-left: 5px;
    width: 100%;
}
.list-titres ul li[niveau="2"] p {
    max-width: 285px;
}
.list-titres ul li[niveau="3"] p {
    max-width: 270px;
}
.list-titres ul li[niveau="4"] p {
    max-width: 255px;
}
.list-titres ul li .btn-display.hidden{
    visibility: hidden;
    display: block;
}
.list-titres ul li .chevron-up {
    margin-top: 7px;
}
.list-titres ul li .chevron-down {
    margin-top: 2px;
}
.list-titres ul li .btn-insert, .list-titres .btn-add {
    min-width: unset;
    width: 25px;
    font-size: 20px;
    padding: 0;
}

.list-titres ul li[niveau="1"] {
    background-color: #9D9D9D;
}
.list-titres ul li[niveau="2"] {
    background-color: #BDBDBD;
}
.list-titres ul li[niveau="3"] {
    background-color: #DDDDDD;
}

.list-titres ul li:hover {
    border: 1px black solid;
    cursor: pointer;
}

.list-titres #orderBtn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list-titres .btn-up, .list-titres .btn-down {
    height: 15px;
    line-height: 1px;
    padding: 0;
    min-width: unset;
    width: 20px;
}


/* Form Dialog */
.app-dialog {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #80808099;
    z-index: 10;
}
.app-dialog > * {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-reglement, .form-titre, .form-contenu {
    max-width: 850px;
    width: 100%;
    background: white;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    padding: 10px;
    border-radius: 4px;
}
.form-reglement form,.form-titre form, .form-contenu form {
    display: flex;
    flex-wrap: wrap;
}
.form-reglement form > *, .form-titre form > *, .form-contenu form > * {
    display: block;
    width: 48.5%;
    margin: 5px 0px;
    margin-right: 8px;
}
.form-reglement form label {
    width: 44%;
}
.form-reglement form input {
    width: 54%;
}
.form-action {
    display: flex;
}
.form-action > * {
    margin: 0px 5px;
}

.form-reglement form .hidden,.form-titre form .hidden, .form-contenu form .hidden {
    display: none;
}

.form-titre form .grey {
    color: grey;
    background-color: lightgray;
}

/* tinymce Editor */


/* autre */
.detail-plu .app-card-content {
    height: 7.5em;
}
.detail-plu .app-card-content.app-content-reduce {
    height: 0;
}
.list-titres .app-card-content {
    height: 540px;
}
.list-titres .app-card-content.app-content-reduce {
    height: 0;
}
.app-card ul {
    padding: 0;
}

/* grid system */
.home-page {
    display: grid;
    grid-template-columns: 650px 1fr;
    grid-template-areas:
        "header header"
        "home editor"
        "footer footer";
}
.toolbar {
    grid-area: header;
}
.app-home-content {
    grid-area: home;
}
.app-content-editor {
    grid-area: editor;
}
.tox-anchorbar {
    height: 50px!important;
    border-top: 1px solid lightgrey !important;
}
.tox-anchorbar h1 {
    margin-left: 1rem !important;
    font-size: 1.8em !important;
    font-weight: bold !important;
    line-height: 50px !important;
    color: black !important;
}
.tox-anchorbar h2 {
    margin-left: 1rem !important;
    font-size: 1.3em !important;
    font-weight: bold !important;
    line-height: 50px !important;
    color: black !important;
}
.tox-anchorbar h3 {
    margin-left: 1rem !important;
    font-size: 1.05em !important;
    font-weight: bold !important;
    line-height: 50px !important;
    color: black !important;
}
.tox-anchorbar h4 {
    margin-left: 1rem !important;
    font-size: 0.9em !important;
    background-color: lightgray !important;
    font-weight: bold !important;
    margin-top: 20px !important;
    line-height: 14px !important;
    height: 14px !important;
    width: 100% !important;
    color: black !important;
}
@media only screen and (max-width: 650px) {
    .home-page {
        display: flex;
        flex-direction: column;
    }
}

/* editeur css */
button.tox-tbtn.tox-tbtn--select:nth-of-type(3) {
    color: #bd1e1e8a;
}
button.tox-tbtn.tox-tbtn--select:nth-of-type(4) {
    color: #bd1e1e8a;
}
